.note{
    background-color: var(--blue);
    width: 400px;
    min-height: 200px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.note img{
    object-fit: contain;
    width: 100%;
}