.note{
    background-color: white;
    width: 240px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    min-height: 200px;
    padding: 1em 1em 3em 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    break-inside: avoid-column; 
    margin-block-end: 1rem;
}

.note img{
    object-fit: contain;
    width: 100%;
}

.note .actions{
    position: absolute;
    bottom: 0.5em;
}

.action-btn.pin-btn{
    position: absolute;
    right: 0.5em;
    top:0.5em;
    width: 2.5em;
    height: 2.5em;
}

@media (max-width: 600px) {
    .note{
        width: 28.125rem;
      }
}