.screen{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32 33 36 / 33%);;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
}

.screen .note {
    margin-top: 10em;
    width: 600px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.note.details .close-btn {
    color: rgba(0,0,0,.87);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.note.details .close-btn:hover {
    background-color:rgba(95,99,104,0.039);

}
.note.details .actions{
    display: flex;
    position: absolute;
    bottom: 0.5em;
    opacity: 1;
}

.note.details .pin-btn{
    opacity: 1;
}

@media (max-width: 600px) {
    .screen .note{
        width: 90vw;
      }

}