.main-header-mail-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-shadow: inset 0px -1px 0px #EDEFF1;
    margin-bottom: 16px;
}

.main-header-mail-app>* {
    display: flex;
    align-items: center;
}

.left-side>:not(:last-child),
.right-side>:not(:last-child) {
    margin-inline-end: 16px;
}

.left-side {
    margin-inline-end: 72px;
}

.center {
    width: 100%;
}

.search-mail {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
}

#search-mail{
    width: 100%;
    padding: 1em;
    padding-inline-start: 4em;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: rgba(241, 243, 244, 1);
    transition: background-color 200ms ease-in,width 100ms ease-out;
}
.search-mail .search-icon-header {
    position: absolute;
    left: 1em;
    top: 0.6em;
}
#search-mail:focus{
    background-color: #fff;
    border-radius: 8px;
    border-bottom: #EDEFF1 2px solid;
}


svg.svg-icons-actions {
    display: flex;
    align-items: center;
}

@media (max-width: 750px) {

}