.side-nav-tabs svg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 1rem;
}



.side-nav-tabs>*{
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
padding: 0.25rem 1rem 0.25rem 0.5rem;
gap: 1rem;

width: 13.5rem;
height: 2rem;
font-size: 0.875rem;

border-radius: 0 2rem 2rem 0;
}

.side-nav-tabs .active{
background: var(--lightRed);
color: var(--darkRed);
fill: var(--darkRed);
}